<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Liveagenda" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A prototype angular app for my capstone project.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-warning btn-sm" href="/posts" target="_blank">Current Meetings</a>
        <a class="btn btn-danger btn-sm" href="/posts/create" target="_blank">Announce Meetings</a>
      </p>
    </div>
  </div>
  <div class="">
    <h2>What can you do in this app?</h2>
    <ul>
      <li>
        Signup with whatever dummy information
      </li>
      <li>
        Post a meeting that is happening
      </li>
      <li>
        Edit your meetings, but you cannot edit other people's meetings
      </li>
      <li>
        View meetings without signing up
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>

</section>
